<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Crie uma solicitação</ion-card-title>
      <ion-card-subtitle>
        Vou criar uma solicitação para desligamento do ar condicionado da sala abaixo
        <br>
        O meio ambiente agradece essa contribuição 😄🌎
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-margin-top">
      <form [formGroup]="form">
        <h2><strong>Estou no: </strong> {{ centroAula.descricao }}</h2>
        <br>
        
        <ion-item>
          <ion-label position="floating">Número da Sala de Aula</ion-label>
          <ion-input formControlName="sala" inputmode="numeric" type="number" required="true"></ion-input>
        </ion-item>
        
        <br>
        <ion-button color="danger" class="ion-margin-vertical ion-float-left" (click)="onCloseModal()">
          Fechar
          <ion-icon slot="end" name="close"></ion-icon>
        </ion-button>
        <ion-button class="ion-margin-vertical ion-float-right" (click)="onCreateNotificacao()">
          Criar
          <ion-icon slot="end" name="add"></ion-icon>
        </ion-button>
      </form>

    </ion-card-content>
  </ion-card>

</ion-content>