<div class="row mt-2 mb-2">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Avaliar Notificação</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <label>O ar condicionado da sala {{ notificao.sala }} do {{ notificao.centroAula.descricao }} realmente estava ligado?</label>
            <br>
            <br>
            <mat-button-toggle-group name="avaliacao" class="mt-2">
              <mat-button-toggle value="aceito" (click)="onClickSim()">Sim</mat-button-toggle>
              <mat-button-toggle value="recusado" (click)="onClickNao()">Não</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
          <button color="primary" mat-button (click)="onClickRegistrar()">Registrar Avaliação</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
