<div class='row'>
  <div class="col-6">

    <mat-card>
      <mat-card-title>
        Recompensa
      </mat-card-title>
      <mat-card-subtitle>
        <hr>
      </mat-card-subtitle>
      <mat-card-content>
        <app-custstable></app-custstable>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <img src="assets/grafico.jpg" style="width: 820px;">


      <br>
      <br>
      <a mat-button routerLink="avalia-notificacao">Acessar Gerenciamento de Solicitações</a>
    </mat-card>
  </div>
</div>

<mat-card>
  Relatórios
</mat-card>
